.spinner {
    margin: 100px auto;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    
    border-radius: 100%;
    display: inline-block;
    
    animation: spinner-scale 1.4s infinite ease-in-out both;
  }
  
  .spinner__bounce1 {
    animation-delay: -0.32s;
  }
  
  .spinner__bounce2 {
    animation-delay: -0.16s;
  }
  
  @keyframes spinner-scale {
    0%, 100% {
      transform: scale(0);
    } 50% {
      transform: scale(1);
    }
  }
  