.sidebar{
    flex: 0 0 96px;
    width: 96px;
    height: 100vh;
    background-color: var(--input-field-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar_buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.logo_wrapper{
    width: 84px;
    border-bottom: 2px solid var(--icon-faded);
    padding: 25px 15px;
}

.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.link{
    background-color: var(--background);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.logout_button{
    border: none;
    cursor: pointer;
}
.main{
    flex: 1;
}
.active_link{
    background-color: var(--primary);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/* modal window */
.modal_container{
    padding: 10px 20px;        
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h2{
    width: 289px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.button_wrapper{
    display: flex;
    gap: 10px;
}

.modal_button{
    width: 148px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFF6DE;
}
.modal_button:hover{
    background-color: var(--primary);
    color: var(--background);
}
